@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
address {
    font-style: normal;
}
html {
    font:
     16px/1.2 
     "Times New Roman","Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB",
     "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* 头部 */
.main-header {
    width: 1600px;
    height: 990px;
    margin: 0 auto;
    padding-top: 203px;

    text-align: center;

    background: url(../img/Background.png) no-repeat center center;
    background-size: 100% 100%;
}
.main-tit {
    margin: 0 auto 75px;;

    font-size: 62px;
    font-weight: 400;
    line-height: 72px;

    color: #fff;
}
.main-p {
    margin-bottom: 98px;

    font-size: 20px;
    line-height: 1.6;

    color: #ffffffb3;
}
#sign-up-form {
    margin: 0 auto;

    width: 970px;
    height: 250px;
    border: 1px solid #54514e;
    border-radius: 2px;
}
#sign-up-form {
    padding-top: 54px;
}
#sign-up-form > .tit {
    margin-bottom: 13px;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    line-height: 1.75;

    color: #fff;
}
#sign-up-form > .description {
    margin-bottom: 45px;

    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #ffffffb3;
}
#sign-up-form > form > input {
    margin-right: 30px;
}
.input-field {
    padding-left: 21px;

    width: 292px;
    height: 50px;
    border: 1px solid #5d5948;
    border-radius: 2px;

    background-color: transparent;
}
/* 修改placeholder样式 */
.input-field[type="text"]::-moz-placeholder {
    color: #fff;
}
.input-field[type="text"]::-webkit-input-placeholder {
    color: #fff;
}
.input-field[type="text"]::-ms-input-placeholder {
    color: #fff;
}
.input-field[type="text"]::placeholder {
    color: #fff;
}

.input-field[type="password"]::-moz-placeholder {
    color: #ffffffb3;
}
.input-field[type="password"]::-webkit-input-placeholder {
    color: #ffffffb3;
}
.input-field[type="password"]::-ms-input-placeholder {
    color: #ffffffb3;
}
.input-field[type="password"]::placeholder {
    color: #ffffffb3;
}
.sub-btn {
    width: 125px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 2px;

    background-color: #fff;
}
/* main */
main {
    width: 1600px;
    margin: 0 auto;
}
/* feature1 */
.feature1-warp {
    height: 710px;
    padding-top: 89px;

    background-color: #fff;
}
.feature1-tit {
    min-width: 1027px;
    height: 143px;
    margin: 0 auto 81px;;

    font-size: 14px;
    letter-spacing: 2.1px;
    text-align: center;
    text-transform: uppercase;

    color: #141414;
}
.feature1-tit > p {
    margin-bottom: 35px;
}
.feature1-tit > h2 {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 400;
}
.feature1 {
    width: 1027px;
    margin: 0 auto;
}
.feature1 > li {
    width: 430px;
    padding-left: 76px;
    margin-bottom: 70px;

    background-repeat: no-repeat;
}
.feature1 > li:nth-of-type(n) {
    float: left;
}
.feature1 > li:nth-of-type(2n) {
    float: right;
}
.iphone {
    background-image: url(../img/Iphone\ Icon.png);
    background-position: 15px 4px;
}
.check {
    background-image: url(../img/Check\ Icon.png);
    background-position: 7px 6px;
}
.pencil {
    background-image: url(../img/Pencil\ Icon.png);
    background-position: 0 5px;
}
.settings {
    background-image: url(../img/Settings\ Icon.png);
    background-position: 0 3px;
}
.feature1 > li > h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;

    color: #141414;
}
.feature1 > li > p {
    font-size: 16px;
    line-height: 1.625;

    color: #141414b3;
}
/* call-to-action */
.call-to-action {
    height: 800px;
    padding-top: 104px;
    padding-left: 315px;

    background: url(../img/Background2.png) no-repeat center center;
    background-size: 100% 100%;
}
.call-to-action > .text-area-warp,
.call-to-action > .data {
    height: 600px;
}
.call-to-action > .text-area-warp {
    float: left;

    width: 505px;
    padding-top: 79px;
}
.call-to-action > .data {
    float: right;

    width: 645px;

    background: 
        url(../img/IPad.png) no-repeat left top,
        url(../img/Screen.png) no-repeat 60px 30px;
}
.call-to-action > .text-area-warp > h2,
.call-to-action > .text-area-warp > p {
    width: 344px;
}
.call-to-action > .text-area-warp > h2 {
    margin-bottom: 36.92px;

    font-size: 42px;
    /* 行距5.04px */
    line-height: 1.24;
    font-weight: 400;

    color: #fff;
}
.call-to-action > .text-area-warp > p {
    margin-bottom: 52.96px;

    font-size: 18px;
    /* 行距5.04px */
    line-height: 1.56;

    color: #ffffffb3;
}
.call-to-action > .text-area-warp > button {
    float: left;

    height: 60px;
    border-radius: 2px;

    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    line-height: 60px;
}
.call-to-action > .text-area-warp > .btn1 {
    width: 240px;
    border: 1px solid #fff;
    margin-right: 30px;

    color: #141414;
    background-color: #fff;
}
.call-to-action > .text-area-warp > .btn2 {
    width: 235px;
    border: 1px solid #70756f;

    color: #fff;
    background-color: transparent;
}
/* feature2 */
.feature2-warp {
    border-bottom: 1px solid #e7e7e7;
    padding: 94px 0 75px;

    text-align: center;

    background-color: #fff;
}
.feature2-warp > .tit {
    margin-bottom: 80px;

    font-size: 42px;
    font-weight: 400;
    line-height: 52px;

    color: #141414;
}
.logos {
    width: 950px;
    margin: 0 auto;
}
.logos > .logo {
    float: left;

    width: 230px;
    margin-right: 86px;
}
.logo > .logo-tit {
    height: 34px;
    margin-bottom: 38px;
}
.singleton {
    background: url(../img/Singleton.png) no-repeat center center;
}
.hero {
    background: url(../img/Hero.png) no-repeat center center;
}
.portland {
    background: url(../img/Portland.png) no-repeat center center;
}
.logo > .description {
    font-size: 16px;
    line-height: 26px;

    color: #141414b3;
}
/* feature3 */
.feature3-warp {
    padding-top: 114px;
    border-bottom: 1px solid #e7e7e7;
}
.feature3 {
    width: 970px;
    margin: 0 auto 105px;;
}
.feature3 > .feature {
    height: 350px;
    padding-top: 72px;
}
.feature3 > .feature:nth-of-type(2n-1) {
    padding-left: 672px;

    background-repeat: no-repeat;
    background-position: left top;
}
.feature3 > .feature:nth-of-type(2n) {
    padding-right: 672px;

    background-repeat: no-repeat;
    background-position: right top;
}
.tree {
    background-image: url(../img/tree.png);
}
.bird {
    background-image: url(../img/bird.png);
}
.feature3 > .feature > h3 {
    margin-bottom: 23px;

    font-size: 20px;
    font-weight: 400;
    /* 行距6px */
    line-height: 1.6;

    color: #141414;
}
.feature3 > .feature > p {
    font-size: 16px;
    /* 行高28px,行距6px; */
    line-height: 1.75;

    color: #141414b3;
}
/* team */
.team-warp {
    padding-top: 94.75px;
    border-bottom: 1px solid #e7e7e7;
}
.center {
    width: 970px;
    margin: 0 auto 70px;
}
.team-warp .tit {
    text-align: center;
}
.team-warp .tit > h2 {
    margin-bottom: 24.71px;

    font-size: 42px;
    /* 行高52.5px,行距5.25px; */
    line-height: 1.25;

    color: #141414;
}
.team-warp .tit > aside {
    width: 695px;
    margin: 0 auto 57.96px;

    font-size: 18px;
    /* 行高10.08px,行距5.04px; */
    line-height: 1.56;
    color: #141414b3;
}
.team > .userpic {
    width: 470px;
    height: 340px;
    margin-bottom: 30px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.team > .userpic:nth-of-type(2n-1) {
    float: left;
}
.team > .userpic:nth-of-type(2n) {
    float: right;
}
.team > .userpic:nth-of-type(1) {
    background-image: url(../img/user1.png);
}
.team > .userpic:nth-of-type(2) {
    background-image: url(../img/user2.png);
}
.team > .userpic:nth-of-type(3) {
    background-image: url(../img/user3.png);
}
.team > .userpic:nth-of-type(4) {
    background-image: url(../img/user4.png);
}
.on-bg {
    display: none;

    height: 100%;
    padding-top: 109px;

    text-align: center;

    background-color: #141414a6;
}
.on-bg > .name {
    margin-bottom: 21px;

    font-size: 20px;

    color: #fff;
}
.on-bg > .identity {
    margin-bottom: 39px;

    font-size: 12px;

    color: #ffffff66;
}
.social-buttons {
    width: 213px;
    margin: 0 auto;
}
.circle {
    float: left;

    width: 51px;
    height: 54px;
    margin-right: 30px;

    background: no-repeat center center;
    background-size: 100% 100%;

    cursor: pointer;
}
.circle:last-of-type {
    margin-right: 0;
}
.facebook {
    background-image: url(../img/Facebook.png);
}
.twitter {
    background-image: url(../img/Twitter.png);
}
.instagram {
    background-image: url(../img/Instagram.png);
}
.userpic:hover .on-bg {
    display: block;
}
/* contact */
.contact {
    border-bottom: 1px solid #f2f2f2;
    padding-top: 70px;
}
.email-form {
    float: left;

    width: 470px;
    padding: 51px 0 0 51px;
    border: 1px solid #d4d3d3;
    border-radius: 10px;
}
.email-form > fieldset {
    width: 370px;
    border: none;
}
.form-tit {
    margin-bottom: 47px;
    -webkit-padding-start: 0;

    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.4px;

    color: #141414;
}
.email-form input {
    display: block;

    height: 50px;
    margin-bottom: 30px;
    padding-left: 20px;
}
.email-form input,
.email-form textarea {
    width: 100%;
    border: 1px solid #d4d3d3;
    border-radius: 2px;
}
.email-form textarea {
    display: block;

    height: 144px;
    margin-bottom: 30px;
    padding: 20px;

    resize: none;
}
.submit-btn {
    background-color: #141414;
    border-radius: 2px;

    color: #fff;
}
.contact .submit-btn {
    border: 1px solid #141414;
}
.contacts {
    float: right;

    width: 354px;
    padding-top: 88px;
}
.contacts > .tit {
    margin-bottom: 34px;

    font-size: 42px;

    color: #141414;
}
.contacts > .content {
    margin-bottom: 60px;

    font-size: 16px;
    line-height: 1.625;

    color: #141414b3;
}
.contacts address {
    font-size: 16px;
    line-height: 1.625;

    color: #141414;
}
.contacts address > p {
   padding-left: 38px;

   background-repeat: no-repeat;
   background-position: left 5px;
}
.contacts .map {
    padding-bottom: 27px;

    background-image: url(../img/Map\ Icon.png);
}
.contacts .phone {
    padding-bottom: 30px;

    background-image: url(../img/Phone\ Icon.png);
}
.contacts .mail {
    background-image: url(../img/Mail\ Icon.png);
}
/* footer */
footer {
    padding: 88px 227px 94px 216px;

    background-color: #141414;
}
.menus {
    float: left;
}
.menus h3 {
    margin-bottom: 36px;

    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.1px;
    text-transform: uppercase;

    color: #fff;
}
.menus > li {
    float: left;
}
.menus ul > li {
    margin-bottom: 30px;

    font-size: 16px;

    color: #ffffff4d;
    cursor: pointer;
}
.menu1 {
    margin-right: 172px;
}
.menu2 {
    margin-right: 152px;
}
.social {
    float: right;

    width: 259px;
}
.social > h3 {
    margin-bottom: 22.96px;

    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.1px;
    text-transform: uppercase;

    color: #fff;
}
.social > p {
    margin-bottom: 37.96px;

    font-size: 18px;
    /* 行高28.8px 行距5.04px */
    line-height: 1.56;

    color: #ffffff66;
}
.social > .icons > i {
    float: left;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    cursor: pointer;
}
.social .icon1 {
    margin-right: 28px;

    width: 17px;
    height: 14px;

    background-image: url(../img/Twitter\ Icon.png);
}
.social .icon2 {
    margin-right: 24px;

    width: 9px;
    height: 18px;

    background-image: url(../img/Facebook\ Icon.png);
}
.social .icon3 {
    margin-right: 24px;

    width: 24px;
    height: 15px;

    background-image: url(../img/Google\ Icon.png);    
}
.social .icon4 {
    margin-right: 30px;

    width: 10px;
    height: 16px;

    background-image: url(../img/Tumbler\ Icon.png);    
}
.social .icon5 {
    margin-right: 26px;

    width: 14px;
    height: 17px;

    background-image: url(../img/Pinterest\ Icon.png);    
}
.social .icon6 {
    width: 16px;
    height: 15px;

    background-image: url(../img/LinkedIn\ Icon.png);    
}